@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.detail-box {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;

	@include breakpoints.medium {
		flex-direction: row;
		justify-content: center;
	}

	&-left,
	&-right {
		@include breakpoints.medium {
			max-width: 50%;
		}
	}

	&-left {
		@include breakpoints.medium {
			width: 35vw;
		}
		@include breakpoints.large {
			width: 45vw;
		}
		&_title {
			font-size: 2rem;
			margin: 2rem 0;

			@include breakpoints.medium {
				font-size: 2.5rem;
			}
		}

		&_head-img {
			object-fit: contain;
			width: 75vw;
			@include breakpoints.medium {
				width: 35vw;
			}
			@include breakpoints.large {
				width: 90vw;
			}
		}

		&-icons {
			padding-bottom: 1rem;
			display: flex;
			flex-direction: column;

			@include breakpoints.large {
				flex-direction: row;
			}
		}

		&-icon {
			margin-right: 2rem;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&-left-box {
			display: flex;
		}
		&-right-box {
			padding-top: 0.5rem;
		}

		&-num {
			font-size: 1.5rem;
			margin-right: 1rem;

			@include breakpoints.large {
				font-size: 2rem;
			}

			&--bold {
				font-weight: 700;
			}
		}
	}

	&-right {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include breakpoints.medium {
			padding-left: 2rem;
			margin-top: 8rem;
		}

		&-top-top {
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
		}

		&-img {
			width: 3rem;
			height: 3rem;

			@include breakpoints.medium {
				width: 5rem;
				height: 5rem;
			}
		}

		&_username {
			font-size: 1.5rem;
			padding: 1rem;

			@include breakpoints.medium {
				font-size: 2rem;
			}
		}

		&_desc {
			font-size: 1.2rem;
			line-height: 1.3rem;
			margin-bottom: 2rem;

			@include breakpoints.medium {
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}

		&-bottom {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			&_button {
				font-size: 1.5rem;
				padding: 1rem;
				margin: 0 1rem;
				border-radius: 20px;
				color: white;
				@include button;

				&--message {
					background-color: $color-secondary-blue;
				}
				&--back {
					background-color: $color-secondary-green;
				}
			}
		}
	}
}
