@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: rgb(255, 251, 251);
	border-radius: 20px;

	@include breakpoints.medium {
		padding: 4rem;
	}

	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		max-width: 60vw;
		// margin-bottom: 5rem;
		// padding-top: 2rem 1rem;

		@include breakpoints.medium {
			// flex-direction: row;
			// padding: 5rem;
			// padding-left: 0;
			// padding-right: 5rem;
		}
	}
	&-X {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&-top {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;

		@include breakpoints.medium {
			flex-direction: row;
			align-items: center;
		}
	}

	&-left,
	&-right {
		@include breakpoints.medium {
			width: 35vw;
		}
	}

	&-left {
		display: flex;
		flex-direction: column;
	}

	&-right {
		padding-top: 2rem;
		text-align: center;

		@include breakpoints.medium {
			padding-top: 0;
			text-align: left;
		}
	}

	&-img {
		width: 18rem;
		height: 18rem;
		align-self: center;
		border-radius: 50%;
		object-fit: cover;
	}

	&-username {
		font-size: 2rem;
		padding-bottom: 1rem;

		@include breakpoints.medium {
			font-size: 3rem;
		}
	}

	&-userinfo {
		font-size: 1.25rem;
		line-height: 1.5rem;

		&-label {
			color: $color-primary-inactive;
			font-weight: 700;
			@include label-padding;
			padding-top: 2rem;
			@include mobile-text-labels-buttons;
			text-align: left;
			width: 100%;

			@include breakpoints.medium {
				@include tablet-desk-text-labels-buttons;
			}
		}
		&-text {
			@include mobile-form-styles;

			&:focus {
				@include form-field-border--active;
			}
		}
	}

	&-bottom {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		@include breakpoints.medium {
			padding-top: 2rem;
		}
	}

	&-aboutme {
		text-align: left;
		display: inline-block;
		font-size: 1rem;

		@include breakpoints.medium {
			font-size: 18px;
		}
	}

	&-button {
		font-size: 1.5rem;
		border-radius: 20px;
		color: white;
		background-color: $color-primary-green;
		@include button;
		padding: 1rem 2rem;
		border: none;
		margin-top: 3rem;
		text-align: center;
		width: fit-content;

		@include breakpoints.medium {
		}
	}
}
