/* COLOR */

// primary colors
$color-primary-green: rgb(57, 169, 98); //green
$color-primary-blue: #0095ff; //blue
$color-primary-inactive: #afafaf; //silver
$color-primary-light: #fff;

// secondary colors
$color-secondary-dark: #000; //dark
$color-secondary-blue: rgb(75, 75, 186); //dark blue
$color-secondary-outline: #e1e1e1; //mercury
$color-secondary-light: #fafafa; ///Alabaster
$color-secondary-green: rgb(54, 106, 54); ///dark green

/* FONT */

@font-face {
	font-family: "Avenir", sans-serif;
	src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Avenir", sans-serif;
	src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
	font-weight: 700;
}
