@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 80vh;
	background-color: rgb(246, 246, 246);

	@include breakpoints.medium {
	}

	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $color-primary-green;
		height: 40vh;
		border-radius: 20px;
		margin-bottom: 5rem;

		@include breakpoints.medium {
			flex-direction: row;
			padding-left: 0;
			padding-right: 5rem;
		}
	}

	&-left,
	&-right {
		@include breakpoints.medium {
			width: 30vw;
		}
	}

	&-left {
		display: flex;
		flex-direction: column;
	}

	&-right {
		padding-top: 2rem;
		text-align: center;

		@include breakpoints.medium {
			text-align: left;
		}
	}

	&-img {
		width: 18rem;
		height: 18rem;
		align-self: center;
		border-radius: 20px;
	}

	&-username {
		font-size: 2rem;
		padding-bottom: 1rem;

		@include breakpoints.medium {
			font-size: 3rem;
		}
	}

	&-userinfo {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

	&-button {
		font-size: 1.5rem;
		padding: 1rem;
		border-radius: 20px;
		color: white;
		background-color: $color-primary-green;
		@include button;
		border: none;
		margin: 5rem;
	}
}
