@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.item-list {
	margin: 0 2rem;

	&-box {
		display: flex;
		flex-direction: column;
		padding: 0.75rem;
		cursor: pointer;
		background-color: white;
		transition: 3s ease-in-out;

		@include breakpoints.medium {
			flex-direction: row;
		}

		&:hover {
			transform: scale(1.02);
			box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
				0 2px 4px -2px rgb(0 0 0 / 0.1);

			@include breakpoints.medium {
				margin: 1.25rem;
			}
		}
	}

	&-box2 {
		position: relative;
		min-height: 20rem;
		border-radius: 1rem;
		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
		flex-shrink: 0;
		overflow: hidden;

		&:hover {
			opacity: 95%;
			box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
				0 2px 4px -2px rgb(0 0 0 / 0.1);
		}

		@include breakpoints.medium {
			height: 15rem;
			width: 20rem;
		}
	}

	&-box3 {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-top: 0.5rem;

		@include breakpoints.medium {
			padding-left: 1.25rem;
		}
	}

	&_right-top-box {
		display: flex;
		justify-content: space-between;
	}

	&_title-text {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	&-box4 {
		border-bottom: 1px solid black;
		padding-top: 0.5rem;
	}

	&_location-text {
		padding-top: 1rem;
	}

	&_desc-text {
		padding-top: 1rem;
		font-size: 0.85rem;
		line-height: 1.25rem;
		font-weight: 500;
		color: rgb(107 114 128);
	}

	&_price-box {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-top: 1.25rem;
	}

	&_price-text {
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 600;
		padding-bottom: 0.5rem;

		@include breakpoints.large {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}
